@{
    ViewData["Title"] = "Home Page";
}
<!-- Intro -->
<div id="intro" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container">
                    <div class="section-title">INTRO</div>
                    <h2>THE HOTEL</h2>
                    <p>A selection of spacious hotel rooms, the exclusivity of an executive lounge, and chic residential suites with living areas and kitchen facilities framing views from city to sea uniquely redefine the lifestyle of the modern explorer.</p>
                    <p class="testimonial-text">
                        "We are pleased to announce that Residences By Pullman have recently won two leading awards:

                        World Travel Awards – New Zealand Leading Hotel Residence

                        Luxury Travel Guide – Luxury Apartments of the Year Auckland New Zealand"
                    </p>
                    <div class="testimonial-author">Louise Donovan - CEO</div>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" src="images/intro-office.jpg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of intro -->
